table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0;
  padding: 0;
  vertical-align:
  baseline;
  border: none; 
}

table.sourceCode {
    width: 100%;
    line-height: 100%;
}

td.lineNumbers {
    text-align: right;
    padding-right: 4px;
    padding-left: 4px;
    color: #aaaaaa;
    border-right: 1px solid #aaaaaa;
}

td.sourceCode { padding-left: 5px; }
code > span.kw { font-weight: bold; }
code > span.dt { color: #800000; }
code > span.dv { color: #0000ff; }
code > span.bn { color: #0000ff; }
code > span.fl { color: #800080; }
code > span.ch { color: #ff00ff; }
code > span.st { color: #3f8f3f; }
code > span.co { color: #808080; font-style: italic; }
code > span.al { color: #00ff00; font-weight: bold; }
code > span.fu { color: #000080; }
code > span.er { color: #ff0000; font-weight: bold; }
